.visit {
    color: blue;
    font-weight: bolder;
}

.folder {
    color: darkblue;
    background-color: antiquewhite;
    font-style: italic;
    border: 1px solid darkred;
    padding: 3px;
}

.navhead {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navbody {
    float: left;
}

a {
    size: B4;
}

h3 {
    color: white;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}


.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 15%;
    height: 15%;
    float: left;
    margin: 10px;
    background: dimgrey;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #111111;
    color: white;
    text-align: center;
}